{% extends 'base.html' %}
{% block content %}
    
    <marquee behavior="" direction=""><b>Latest News Lorem ipsum dolor sit amet.</b></marquee>
    <div class="box">
        <div class="box1">
            <p>
            <h4>Welcome to NECBDC</h4>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde magni voluptate similique, inventore veniam
            ullam
            mollitia fugiat repellat harum quae pariatur eius exercitationem ratione cumque, facilis omnis ipsam
            incidunt
            nisi reprehenderit maiores, delectus labore iste sit animi. Cum, at aut necessitatibus quia repellendus
            ipsam a
            excepturi quas non aspernatur incidunt! Ipsam minima, eaque autem sequi tempore aliquam. Pariatur cumque
            nostrum
            hic vero, harum ullam autem unde dolor similique laboriosam optio odit voluptatibus, facere, quaerat error
            beatae aperiam quidem quae. Quis hic laborum, praesentium cupiditate possimus ducimus consectetur incidunt.
            Repudiandae eaque voluptate molestias? Est ab architecto consequuntur aperiam facilis quod repudiandae
            similique
            neque magni explicabo necessitatibus, dolorum obcaecati et laudantium laboriosam, fuga nemo unde autem
            porro?
            Saepe, suscipit <a href="#">Read More...</a>
            </p>
        </div>
        <div class="box2">
            <p>Here News will be auto scrolled </p>
        </div>
    </div>
    <div class="container">

        <div class="features">

            <div class="row">
                <img src="#" alt="">
                <p>Lorem ipsum dolor sit amet consectetur </p>
            </div>
            <div class="row">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>
            <div class="row">
                <img src="" alt="">
                <p>Lorem ipsum dolor sit amet consectetur</p>
            </div>


        </div>
    </div>
    </div>

{% endblock content %}

